<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Anime Kanban</title>
      <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
  </head>
  <body>
    <div>