<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Anime Kanban</title>
      <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar__logo"><a href="/dashboard">Anime Kanban</a></div>
      <div class=""><a href="/search">Search</a></div>
      <div class=""><a href="/">Login</a></div>
      <div class=""><a href="/">Logout</a></div>
    </nav>
    <div class="container">