<!-- <div class="searchbar">
  <form action="/results" method="GET">
    <input class="searchbar__input" type="text" placeholder="Search here" name="search">
    <button type=submit><i class="fa fa-search"></i></input>
  </form>
</div> -->

<!-- bulma -->
<form action="/results" method="GET">
  <div class="field has-addons">
    <div class="control is-expanded">
      <input class="input" type="text" placeholder="Search here" name="search">
    </div>
    <div class="control">
      <button type="submit" class="button is-primary">
        Search
      </button>
    </div>
  </div>
</form>