<% include ./partials/header %>

<div>
  <h1>Dashboard</h1>
  <p>Add an anime to the list by typing into the search bar below:</p>
  <div class="searchbar">
    <form action="/results" method="GET">
      <input class="searchbar__input" type="text" placeholder="Search for an anime" name="search">
      <button type=submit><i class="fa fa-search"></i></input>
    </form>
  </div>
</div>

<div class="list-wrapper"> <!-- lists container -->
  <div id="currWatchList" class="list">
    <h2 class="list__title">Currently Watching</h2>
    <div>
      <% include ./partials/cards %>
    </div>
  </div>
  <div id="toWatchList" class="list">
    <h2 class="list__title">To Watch</h2>
    <div><!-- list of cards go here --></div>
  </div>
  <div id="compList" class="list">
    <h2 class="list__title">Completed</h2>
    <div><!-- list of cards go here --></div>
  </div>
</div><!-- end of lists container -->

<% include ./partials/footer %>