.card {
  display: flex;
  background-color: $light-grey;
  padding: $m-size;
  margin-bottom: $m-size;
  border-radius: 6px;
}

.card__content {
  padding-left: $m-size;
}

.card__title {
  font-size: $font-size-large;
  margin: 0;
}

// .card__subcontent{
//   color: $;
// }