.navbar {
  padding: $m-size;
  background-color: $grey;
  display: flex;
  justify-content: space-between;
}

.navbar__logo {
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.navbar__logo a {
  text-decoration: none;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  margin-left: 2.4rem;
}