.navbar {
  padding: $m-size;
  background-color: $grey;
}

.navbar__logo {
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.navbar__logo a {
  text-decoration: none;
}

// .navbar__content {
//   display: flex;
// }

// .navbar__item {}