.searchbar__button {
  float: right;
  border: none;
  cursor: pointer;
}

.searchbar__button:hover {
  float: right;
  border: none;
  cursor: pointer;
}

.searchbar__input {  
  width: 50%;
  padding: 0.6rem;
}