*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: $blue;
}

body {
  color: $dark-grey;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: $font-size-small;
  line-height: 1.6;
}