// Colors =========
$dark-grey: #232323;
$grey: #727272;
$light-grey: #c0c0c0;
$blue: #396ed1;

// Font Sizes =========
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing (i.e. padding, margins, etc.) ========
$m-size: 1.6rem;
$s-size: 1.4rem;